<a href="https://colab.research.google.com/github/sskboonmee/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน Textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง 

โดย Pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas    #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package  #อันนี้คือ import แบบธรรมดา

In [2]:
import pandas as pd #เหมือนกับข้างบนแต่ว่าตั้งชื่อให้ package ที่โหลดมาใหม่ว่า่ pd

ไฟล์ที่จะได้เจอเป็นหลักเลยคือ .csv  (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้วิชานี้ 

ข้อดี  ไฟล์ง่ายคนอ่านได้คอมอ่านได้ เก็บข้อมูลตารางที่เข้าใจง่ายๆ 

การแบ่งค่าใช้ comma ในการแบ่ง และใช้ enter แบ่งว่าเป็นข้อมูลคนละ record

In [5]:
data_df = pd.read_csv('data.csv')

In [6]:
data_df

  \tname  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

In [7]:
data_df2 = pandas.read_csv('data.csv')
data_df2

  \tname  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

#Basic Python
## Variable 
ตัวแปร คือคล้ายๆกับกล่องที่ไว้ใส่ข้อมูล  ชื่อตัวแปรต้องเป็นตัวอักษรติดกันหมดเลยห้ามมีเว้นวรรค ถ้าอยากมีชื่อเพิ่มก็_ก่อน

ข้อกำหนดในการตั้งชื่อตัวแปร

1.   ชื่อห้ามมีเว้นวรรค
2.   (พยายาม)ใช้ภาษาอังกฤษ 

1.   ตัวเล็กกับตัวใหญ่แตกต่างกัน คือมันจะเป็นคนละตัวแปร (case sensitive)
2.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [8]:
variable_a = 12    
variable_b = 'abcde'  # ' เรียกว่า quote  ตัวที่มี quote = string
variable_c = variable_a

In [9]:
variable_a

12

In [10]:
variable_b

'abcde'

In [15]:
variable_c

12

ชื่อห้ามมีเว้นวรรค

In [16]:
variable a = 6

SyntaxError: ignored

พยายามใช้ภาษาอังกฤษ

In [12]:
ตัวแปร = 3   #colab ใช้ชื่อภาษาไทยได้แต่ไม่ควรใช้
ตัวแปร

3

ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)

In [11]:
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [17]:
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

ห้ามใช้ตัวเลขเป็นชื่อตัวแปร

In [18]:
2 = 1

SyntaxError: ignored

In [ ]:
 2ab = 1

แต่ใช้ตัวเลขเป็นตัวหลังไม่มีปัญหา

In [19]:
variable = 1
print(variable)

1

In [20]:
variable_a = 12    
variable_b = 'abcde'  # ' เรียกว่า quote  ตัวที่มี quote = string
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" #"" เรียก double qoute ก็คือ string เลือใช้ได้เลยว่าจะใช้ ' "

In [21]:
variable_x = variable_c + variable_d 
print(variable_x)

-29.200000000000003

In [22]:
variable a + variable_b

SyntaxError: ignored

In [23]:
print(variable_b + variable_4)

abcdeKKU

##Casting  int()  float() str()

คือเราสามารถเปลี่ยนชนิดของตัวแปรได้

In [ ]:
print(variable_x)
print(int(variable_x))

In [ ]:
V_X = str(variable_x)
print(V_X)

In [ ]:
V_X + variable_a  #ตัวอข้างหน้าเป็น str ไม่สามารถเอาตัวเลขมาบวกได้

In [ ]:
variable_a + V_X  #ตัวเลขก็ไม่สามารถเอา str มาบวกได้เหมือนกัน

In [ ]:
V_X

In [ ]:
float(V_X)

##Data Structure
###list()

In [24]:
list_a = [1,2,0.2,'abs' ]  #[ ] square brackets
list_b = [2,'xyz' ,list_a, [1,2,0.0]]

In [25]:
list_a

[1, 2, 0.2, 'abs']

In [26]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [27]:
len(list_b) #len = ความยาวดูสมาขิกใน list

4

In [28]:
list_b[3] #ชี้สมาชิกในลิสต์ได้เพื่อดึงค่ามันออกมา

[1, 2, 0.0]

In [29]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [30]:
a = 'Stat KKU'

In [31]:
a[4]

' '

###วิธีสร้าง list ว่าง

In [32]:
list_c = list()  #แบบที่1
list_d = []     #แบบที่2

In [33]:
list_c

[]

In [34]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [35]:
list_d.append('a')

In [36]:
list_d

['a']

In [37]:
list_d.append(56)

In [38]:
list_d

['a', 56]

การชี้ค่าใน list (indexing)

1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังโดยใช้ negative index

In [39]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [40]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [41]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง] 
ถ้าเป็นสัญลักษณ์คณิตศาสตร์  [ตัวหน้า,ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)
ไม่ระบุด้ายท้าก็คือเอาถึงตัวท้ายไม่ระบุด้านหน้าก็คือเอาตั้งแต่ตัวหน้า

In [42]:
list_ex[1:6]  #: ใช้  colon ในการตัด

[2, 3, 5, 6, 8]

In [43]:
list_ex[4:]  #เว้นข้างหลังเอาไว้แสดงว่าเอาไปจนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [44]:
list_ex[:6]  #เว้นข้างหน้าคือเอาตั้งแต่ตัวแรก

[1, 2, 3, 5, 6, 8]

In [45]:
list_ex[:-1:]

[1, 2, 3, 5, 6, 8, -1, 20, 50]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [46]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [47]:
list_ex[::2]  #ขอบเขตด้านหน้าขอบเขตด้านหลังและstep

[1, 3, 6, -1, 50]

In [48]:
list_ex[::-1]  #กลับlist ที่กระโดด การกลับlistนั่นเองอิอิ

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [49]:
a

'Stat KKU'

In [50]:
a[:4]

'Stat'

In [51]:
a[5:]

'KKU'

In [52]:
a[-3:]

'KKU'

In [53]:
a[5:8]

'KKU'

In [54]:
a[5::]

'KKU'

In [55]:
a[-3::]

'KKU'

### list + list

In [56]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [57]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

f'string{ตัวแปร}'

In [58]:
f'ตัวแปร list_a มีค่าคือ {list_a} '

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs'] "

##Loop
       python
for ตัวแปรที่จะรับค่าจากลิสต์  in ลิสต์ที่จะนำมาวนลูป:
  do something  #in loop
  do another thing #in loop

do other things #out side loop
  
การที่ทำอะไรซ้ำๆอาจเปลี่ยนเล็กน้อยแต่วนซ้ำไปเรื่อยๆ

In [59]:
for i in {1,2,3,4,5}:
    print(i+1)   #ก็คือ1+1,2+1,3+1,4+1,5+1

2
3
4
5
6

In [60]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [61]:
list5={1,2,3,4,5}
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
for i in range(2,7):  #จุดเริ่ม จุดจบ step
  print(i)

2
3
4
5
6

In [64]:
for i in range(2,7,2): 
  print(i)

2
4
6

In [65]:
for i in range(5):    #range เป็น list ที่ยังไม่ได้ถูกใส่ไว้ใน memory จะเจน list ตามจำนวนที่เราใส่ให้มัน
  print('hahaha')
  x = i+3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

##Nested loop
ก็คือ loop ซ้อน loop ไปเรื่อยๆ

In [66]:
for i in range(3):
  print(f'now i = {i}')
  print ('start j loop')
  for j in range(4):
    print(f' i = {i} j = {j} i+j = {i+j}')
  print ('end j loop')

now i = 0
start j loop
 i = 0 j = 0 i+j = 0
 i = 0 j = 1 i+j = 1
 i = 0 j = 2 i+j = 2
 i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
 i = 1 j = 0 i+j = 1
 i = 1 j = 1 i+j = 2
 i = 1 j = 2 i+j = 3
 i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
 i = 2 j = 0 i+j = 2
 i = 2 j = 1 i+j = 3
 i = 2 j = 2 i+j = 4
 i = 2 j = 3 i+j = 5
end j loop

##Condition  (if statement)
   python
if เงื่อนไขที่จะตรวจสอบ โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  
  ถ้าเงื่อนไขเป็นจริง  ทำงาน 1
  
  ถ้าเงื่อนไขเป็นจริง  ทำงาน 2 
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง
  ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
  ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่ตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง
  ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
  ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
elif: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
  ทำงานที่ x

In [72]:
stringx = 'sadfasdsadfweirjwersdfspadofgj'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters')

sadfasdsadfweirjwersdfspkkkkkkkkkkkkkkkkkkkkkkkadofgj is longer than 30 characters

In [73]:
stringx = 'sadfasdsadfweirjwersdfspadofgj'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
else:
  print(f'{stringx} in {len(stringx)} characters')

sadfasdsadfweirjwersdfspadofgj in 30 characters

In [77]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome!')
elif len(input_pass)  >  len(password):
    print('Too long, try again')
elif len(input_pass)  <  len(password):
    print('Too short, try again')
else:
  print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา Min

In [ ]:
list_ex = [1,5,9,-19,-2,0]  #หาค่าน้อยที่สุดใน list โดยไม่ใช้ function min

In [91]:
min = 1000000
print(list_ex)
for i in list_ex:
  print(f'now i = {i}, min = {min}')
  print('start condition')
  if i < min:
      print(f'i < min,  update min -> {i}')
      min = i
  else:
        print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 1000000
start condition
i < min,  update min -> 1
now i = 5, min = 1
start condition
end condition, go to next i
now i = 9, min = 1
start condition
end condition, go to next i
now i = -19, min = 1
start condition
i < min,  update min -> -19
now i = -2, min = -19
start condition
end condition, go to next i
now i = 0, min = -19
start condition
end condition, go to next i
-19

##Function

HW3 ตัดเกรด

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]  #ตัดเกรด คะแนนใน list score ใช้ if กับ for