<a href="https://colab.research.google.com/github/sskboonmee/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [5]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [6]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [60]:
gen_exams('623020539-9')

รหัสนักศึกษา 623020539-9 ทำข้อ 3 และ 0

####เชคค่าว่าง

In [10]:
flights.isnull().any()  #เชคค่าว่างขึ้น False แสดงว่า ไม่มีค่าว่าง

วันในเดือน            False
วันในสัปดาห์          False
สายการบิน             False
รหัสสนามบินต้นทาง     False
รหัสสนามบินปลายทาง    False
ความล่าช้าขาออก       False
ความล่าช้าขาเข้า      False
dtype: bool

In [11]:
airports.isnull().any() #เชคค่าว่างขึ้น False แสดงว่า ไม่มีค่าว่าง

รหัสสนามบิน    False
เมือง          False
รัฐ            False
ชื่อสนามบิน    False
dtype: bool

#ข้อ0.หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด

####เชื่อมตาราง

In [14]:
merge_table = flights.merge(airports,how='left', left_on='รหัสสนามบินปลายทาง',right_on='รหัสสนามบิน')  # เชื่อมตาราง flights กับ airports  โดยให้ตาราง flights เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table

         วันในเดือน  ...                                ชื่อสนามบิน
0                19  ...                        Miami International
1                19  ...              John F. Kennedy International
2                19  ...               Salt Lake City International
3                19  ...                 Detroit Metro Wayne County
4                19  ...                  Los Angeles International
...             ...  ...                                        ...
2702213          19  ...               Salt Lake City International
2702214          19  ...  Louis Armstrong New Orleans International
2702215          19  ...   Hartsfield-Jackson Atlanta International
2702216          19  ...                      Memphis International
2702217          19  ...          Minneapolis-St Paul International

[2702218 rows x 11 columns]

####รัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุด

In [49]:
state_arrivals_max = merge_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False)   #จัดกลุ่มรัฐจากนั้นนับโดยใช้คำสั่ง countและจัดเรียงตามรหัสสนามบินปลายทาง 
state_arrivals_max.iloc[:1,4:5]    #รัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุด

     รหัสสนามบินปลายทาง
รัฐ
CA               380429

####รัฐที่มีจำนวนเครื่องบินขาเข้าน้อยที่สุด

In [50]:
state_arrivals_min =  merge_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False)  #จัดกลุ่มรัฐจากนั้นนับโดยใช้คำสั่ง countและจัดเรียงตามรหัสสนามบินปลายทาง 
state_arrivals_min.iloc[35:2702217,4:5]  #รัฐที่มีจำนวนเครื่องบินขาเข้าน้อยที่สุด

     รหัสสนามบินปลายทาง
รัฐ
AK                 7711

#ข้อ3.สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด

In [56]:
airline_flights = flights.groupby('สายการบิน')[['วันในเดือน']].count()  #จัดกลุ่มด้วยสายการบินและนับวันในเดือน
airline_flights

           วันในเดือน
สายการบิน
9E              80031
AA             289855
AS              68555
B6             121906
DL             381657
EV             157928
F9              35738
FL              92702
HA              17432
MQ             113212
OO             160164
UA             286418
US             233321
VX              34739
WN             575739
YV              52821

In [57]:
airline_flights.reset_index(inplace=True)  # reset index เพื่อไปใช้งานต่อ
airline_flights

   สายการบิน  วันในเดือน
0         9E       80031
1         AA      289855
2         AS       68555
3         B6      121906
4         DL      381657
5         EV      157928
6         F9       35738
7         FL       92702
8         HA       17432
9         MQ      113212
10        OO      160164
11        UA      286418
12        US      233321
13        VX       34739
14        WN      575739
15        YV       52821

####สายการบินไหนมีเที่ยวบินมากที่สุด

In [58]:
airline_flights_max = airline_flights.sort_values(by='วันในเดือน',ascending=False)  #ให้มีการเรียงลำดับตามวันในเดือน 
airline_flights_max.iloc[0,:]   #หาว่าสายการบินไหนมีเที่ยวบินมากที่สุด

สายการบิน         WN
วันในเดือน    575739
Name: 14, dtype: object

####สายการบินไหนมีเที่ยวบินน้อยที่สุด

In [59]:
airline_flights_min = airline_flights.sort_values(by='วันในเดือน',ascending=False)  #ให้มีการเรียงลำดับตามวันในเดือน
airline_flights_min.iloc[-1,:]   #หาว่าสายการบินไหนมีเที่ยวบินน้อยสุด

สายการบิน        HA
วันในเดือน    17432
Name: 8, dtype: object

#ข้อคิดโจทย์เองคือ หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุด 5 อันดับแรก

In [63]:
merge_table  #ดึงตารางที่เชื่อมกันมา

         วันในเดือน  ...                                ชื่อสนามบิน
0                19  ...                        Miami International
1                19  ...              John F. Kennedy International
2                19  ...               Salt Lake City International
3                19  ...                 Detroit Metro Wayne County
4                19  ...                  Los Angeles International
...             ...  ...                                        ...
2702213          19  ...               Salt Lake City International
2702214          19  ...  Louis Armstrong New Orleans International
2702215          19  ...   Hartsfield-Jackson Atlanta International
2702216          19  ...                      Memphis International
2702217          19  ...          Minneapolis-St Paul International

[2702218 rows x 11 columns]

In [69]:
state_dapartures = merge_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False)   #จัดกลุ่มรัฐจากนั้นนับโดยใช้คำสั่ง countและจัดเรียงตามรหัสสนามบินต้นทาง
state_dapartures.iloc[:5,3:4]  #รัฐที่มีจำนวนเครื่องบินขาออกมากที่สุด 5 อันดับแรก

     รหัสสนามบินต้นทาง
รัฐ
CA              380429
TX              275328
FL              208291
IL              176857
GA              148524