<a href="https://colab.research.google.com/github/sskboonmee/DWDM21/blob/main/Projectlookmhee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/DWDM2021_DATA'

In [ ]:
data_subscriber = pd.read_csv(os.path.join(path,'10broadband-subscribers.csv'))  #จำนวนผู้ลงทะเบียนใช้บริการอินเทอร์เน็ตความเร็วสูง
data_subscriber

    No.  ...  VALUE (SUM)_SUBSCRIBER
0     4  ...               652726.00
1     3  ...               529530.00
2     2  ...               453043.00
3     1  ...               365219.00
4     8  ...              1231344.00
..  ...  ...                     ...
68   72  ...             11478264.92
69   71  ...             11282645.58
70   70  ...             10912996.14
71   69  ...             10264995.67
72   73  ...             11876158.44

[73 rows x 5 columns]

In [ ]:
data_subscriber2 = data_subscriber.sort_values(by=['No.'])  
data_subscriber2

    No.  ...  VALUE (SUM)_SUBSCRIBER
3     1  ...               365219.00
2     2  ...               453043.00
1     3  ...               529530.00
0     4  ...               652726.00
7     5  ...               785931.00
..  ...  ...                     ...
71   69  ...             10264995.67
70   70  ...             10912996.14
69   71  ...             11282645.58
68   72  ...             11478264.92
72   73  ...             11876158.44

[73 rows x 5 columns]

In [ ]:
data_household = pd.read_csv(os.path.join(path,'12broadband-penetration-per-household-.csv'))  #อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนครัวเรือน
data_household

    No.     type_HOUSEHOLD  ...  YEAR / QUARTER (DATE) (YEAR)  VALUE (SUM)_HOUSEHOLD
0     4  per household (%)  ...                          2003               0.000649
1     3  per household (%)  ...                          2003               0.000459
2     2  per household (%)  ...                          2003               0.000343
3     1  per household (%)  ...                          2003               0.000281
4     8  per household (%)  ...                          2004               0.008716
..  ...                ...  ...                           ...                    ...
68   72  per household (%)  ...                          2020               0.514683
69   71  per household (%)  ...                          2020               0.515873
70   70  per household (%)  ...                          2020               0.498972
71   69  per household (%)  ...                          2020               0.469344
72   73  per household (%)  ...                          2021               0.532524

[73 rows x 5 columns]

In [ ]:
data_household2 = data_household.sort_values(by=['No.'])
data_household2

    No.     type_HOUSEHOLD  ...  YEAR / QUARTER (DATE) (YEAR)  VALUE (SUM)_HOUSEHOLD
3     1  per household (%)  ...                          2003               0.000281
2     2  per household (%)  ...                          2003               0.000343
1     3  per household (%)  ...                          2003               0.000459
0     4  per household (%)  ...                          2003               0.000649
7     5  per household (%)  ...                          2004               0.001556
..  ...                ...  ...                           ...                    ...
71   69  per household (%)  ...                          2020               0.469344
70   70  per household (%)  ...                          2020               0.498972
69   71  per household (%)  ...                          2020               0.515873
68   72  per household (%)  ...                          2020               0.514683
72   73  per household (%)  ...                          2021               0.532524

[73 rows x 5 columns]

In [ ]:
data_population = pd.read_csv(os.path.join(path,'11broadband-penetration-per-population-.csv'))  #อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนประชากร
data_population

    No.     type_POPULATION  ...  YEAR / QUARTER (DATE) (YEAR)  VALUE_POPULATION
0     1  per population (%)  ...                          2003             0.01%
1     2  per population (%)  ...                          2003             0.01%
2     3  per population (%)  ...                          2003             0.01%
3     4  per population (%)  ...                          2003             0.02%
4     5  per population (%)  ...                          2004             0.05%
..  ...                 ...  ...                           ...               ...
68   69  per population (%)  ...                          2020            15.10%
69   70  per population (%)  ...                          2020            16.05%
70   71  per population (%)  ...                          2020            16.59%
71   72  per population (%)  ...                          2020            16.85%
72   73  per population (%)  ...                          2021            17.40%

[73 rows x 5 columns]

###เชค Missing

In [ ]:
data_household2.isnull().any()

No.                                False
type_HOUSEHOLD                     False
YEAR / QUARTER (DATE) (QUARTER)    False
YEAR / QUARTER (DATE) (YEAR)       False
VALUE (SUM)_HOUSEHOLD              False
dtype: bool

In [ ]:
data_subscriber2.isnull().any()

No.                                   False
YEAR / QUARTER (DATE) (QUARTER)       False
Thailand Internet Users_SUBSCRIBER    False
YEAR / QUARTER (DATE) (YEAR)          False
VALUE (SUM)_SUBSCRIBER                False
dtype: bool

In [ ]:
data_population.isnull().any()

No.                                False
type_POPULATION                    False
YEAR / QUARTER (DATE) (QUARTER)    False
YEAR / QUARTER (DATE) (YEAR)       False
VALUE_POPULATION                   False
dtype: bool

####ต่อตาราง

In [ ]:
data_population.drop(['YEAR / QUARTER (DATE) (QUARTER)','YEAR / QUARTER (DATE) (YEAR)'], axis=1, inplace=True)
data_population

    No.     type_POPULATION VALUE_POPULATION
0     1  per population (%)            0.01%
1     2  per population (%)            0.01%
2     3  per population (%)            0.01%
3     4  per population (%)            0.02%
4     5  per population (%)            0.05%
..  ...                 ...              ...
68   69  per population (%)           15.10%
69   70  per population (%)           16.05%
70   71  per population (%)           16.59%
71   72  per population (%)           16.85%
72   73  per population (%)           17.40%

[73 rows x 3 columns]

In [ ]:
merge_table = data_subscriber2.merge(data_population,how='left', left_on='No.',right_on='No.')
merge_table

    No.  YEAR / QUARTER (DATE) (QUARTER)  ...     type_POPULATION  VALUE_POPULATION
0     1                                1  ...  per population (%)             0.01%
1     2                                2  ...  per population (%)             0.01%
2     3                                3  ...  per population (%)             0.01%
3     4                                4  ...  per population (%)             0.02%
4     5                                1  ...  per population (%)             0.05%
..  ...                              ...  ...                 ...               ...
68   69                                1  ...  per population (%)            15.10%
69   70                                2  ...  per population (%)            16.05%
70   71                                3  ...  per population (%)            16.59%
71   72                                4  ...  per population (%)            16.85%
72   73                                1  ...  per population (%)            17.40%

[73 rows x 7 columns]

In [ ]:
data_household2.drop(['YEAR / QUARTER (DATE) (QUARTER)','YEAR / QUARTER (DATE) (YEAR)'], axis=1, inplace=True)
data_household2

    No.     type_HOUSEHOLD  VALUE (SUM)_HOUSEHOLD
3     1  per household (%)               0.000281
2     2  per household (%)               0.000343
1     3  per household (%)               0.000459
0     4  per household (%)               0.000649
7     5  per household (%)               0.001556
..  ...                ...                    ...
71   69  per household (%)               0.469344
70   70  per household (%)               0.498972
69   71  per household (%)               0.515873
68   72  per household (%)               0.514683
72   73  per household (%)               0.532524

[73 rows x 3 columns]

In [ ]:
merge_table2 = merge_table.merge(data_household2,how='left', left_on='No.',right_on='No.')
merge_table2

    No.  ...  VALUE (SUM)_HOUSEHOLD
0     1  ...               0.000281
1     2  ...               0.000343
2     3  ...               0.000459
3     4  ...               0.000649
4     5  ...               0.001556
..  ...  ...                    ...
68   69  ...               0.469344
69   70  ...               0.498972
70   71  ...               0.515873
71   72  ...               0.514683
72   73  ...               0.532524

[73 rows x 9 columns]