<a href="https://colab.research.google.com/github/sskboonmee/DWDM21/blob/main/Projectlookmhee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import os

In [66]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [67]:
path = '/content/drive/My Drive/DWDM2021_DATA'

In [68]:
data_58 = pd.read_csv(os.path.join(path,'ผลไม้ส่งออกรายเดือนปี58.csv'))
data_58

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      262,519      15,781,599
1      2             2  ...       98,167       5,549,497
2      3             3  ...      124,920       7,129,611
3      4             4  ...       65,049       3,908,310
4      5             5  ...      118,085       8,057,296
..   ...           ...  ...          ...             ...
198  199             8  ...      121,927       2,507,646
199  200             9  ...      406,387       5,826,700
200  201            10  ...      703,727      10,147,319
201  202            11  ...        6,120         324,968
202  203            12  ...        9,035          91,720

[203 rows x 8 columns]

In [69]:
data_59 = pd.read_csv(os.path.join(path,'ผลไม้ส่งออกรายเดือนปี59.csv'))
data_59

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      217,213      13,813,306
1      2             2  ...      243,690      16,387,244
2      3             3  ...      181,398      13,115,358
3      4             4  ...       95,551       6,268,547
4      5             5  ...      179,018      13,068,776
..   ...           ...  ...          ...             ...
198  199             8  ...       19,354         765,726
199  200             9  ...       78,113       1,369,584
200  201            10  ...      895,751       7,264,997
201  202            11  ...      789,156      15,511,989
202  203            12  ...      399,055       5,130,042

[203 rows x 8 columns]

In [70]:
data_60 = pd.read_csv(os.path.join(path,'ผลไม้ส่งออกรายเดือนปี60.csv'))
data_60

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      123,631       7,957,513
1      2             2  ...       70,831       4,619,708
2      3             3  ...      132,200       8,337,277
3      4             4  ...       92,494       6,485,861
4      5             5  ...      227,581      12,924,734
..   ...           ...  ...          ...             ...
198  199             8  ...      173,789       6,607,820
199  200             9  ...       73,432       3,645,467
200  201            10  ...       13,840         717,044
201  202            11  ...        9,092         361,561
202  203            12  ...       10,881         364,204

[203 rows x 8 columns]

###เชค Missing

In [71]:
data_58.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product            True
qty_per_year       True
value_per_year     True
dtype: bool

In [72]:
data_59.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product            True
qty_per_year       True
value_per_year     True
dtype: bool

In [73]:
data_60.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product            True
qty_per_year       True
value_per_year     True
dtype: bool

###เติมค่า Missing

####58

In [74]:
data_58[['product']] = data_58[['product']].fillna('ไม่มีข้อมูล')

In [75]:
data_58

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      262,519      15,781,599
1      2             2  ...       98,167       5,549,497
2      3             3  ...      124,920       7,129,611
3      4             4  ...       65,049       3,908,310
4      5             5  ...      118,085       8,057,296
..   ...           ...  ...          ...             ...
198  199             8  ...      121,927       2,507,646
199  200             9  ...      406,387       5,826,700
200  201            10  ...      703,727      10,147,319
201  202            11  ...        6,120         324,968
202  203            12  ...        9,035          91,720

[203 rows x 8 columns]

In [76]:
data_58.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year       True
value_per_year     True
dtype: bool

In [77]:
avg_qty58 = data_58[['qty_per_year']].mean()  #หา Meanของqty_per_year 
data_58[['qty_per_year']] = data_58[['qty_per_year']].fillna('avg_qty58')  # เติม  mean ลงไปแทนค่า missing
avg_value58 = data_58[['value_per_year']].mean()  #หา Meanvalue_per_year
data_58[['value_per_year']] = data_58[['value_per_year']].fillna('avg_value58')  # เติม  mean ลงไปแทนค่า missing

In [78]:
data_58.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year      False
value_per_year    False
dtype: bool

In [79]:
data_58

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      262,519      15,781,599
1      2             2  ...       98,167       5,549,497
2      3             3  ...      124,920       7,129,611
3      4             4  ...       65,049       3,908,310
4      5             5  ...      118,085       8,057,296
..   ...           ...  ...          ...             ...
198  199             8  ...      121,927       2,507,646
199  200             9  ...      406,387       5,826,700
200  201            10  ...      703,727      10,147,319
201  202            11  ...        6,120         324,968
202  203            12  ...        9,035          91,720

[203 rows x 8 columns]

####59

In [80]:
data_59[['product']] = data_59[['product']].fillna('ไม่มีข้อมูล')

In [81]:
data_59

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      217,213      13,813,306
1      2             2  ...      243,690      16,387,244
2      3             3  ...      181,398      13,115,358
3      4             4  ...       95,551       6,268,547
4      5             5  ...      179,018      13,068,776
..   ...           ...  ...          ...             ...
198  199             8  ...       19,354         765,726
199  200             9  ...       78,113       1,369,584
200  201            10  ...      895,751       7,264,997
201  202            11  ...      789,156      15,511,989
202  203            12  ...      399,055       5,130,042

[203 rows x 8 columns]

In [82]:
data_59.isnull().any()  #เชค Missing อัน True คือมี  Missing

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year       True
value_per_year     True
dtype: bool

In [83]:
avg_qty59 = data_59[['qty_per_year']].mean()  #หา Meanของqty_per_year 
data_59[['qty_per_year']] = data_59[['qty_per_year']].fillna('avg_qty59')  # เติม  mean ลงไปแทนค่า missing
avg_value59 = data_59[['value_per_year']].mean()  #หา Meanvalue_per_year
data_59[['value_per_year']] = data_59[['value_per_year']].fillna('avg_value59')  # เติม  mean ลงไปแทนค่า missing

In [84]:
data_59.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year      False
value_per_year    False
dtype: bool

In [85]:
data_59

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      217,213      13,813,306
1      2             2  ...      243,690      16,387,244
2      3             3  ...      181,398      13,115,358
3      4             4  ...       95,551       6,268,547
4      5             5  ...      179,018      13,068,776
..   ...           ...  ...          ...             ...
198  199             8  ...       19,354         765,726
199  200             9  ...       78,113       1,369,584
200  201            10  ...      895,751       7,264,997
201  202            11  ...      789,156      15,511,989
202  203            12  ...      399,055       5,130,042

[203 rows x 8 columns]

####60

In [86]:
data_60[['product']] = data_60[['product']].fillna('ไม่มีข้อมูล')

In [87]:
data_60

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      123,631       7,957,513
1      2             2  ...       70,831       4,619,708
2      3             3  ...      132,200       8,337,277
3      4             4  ...       92,494       6,485,861
4      5             5  ...      227,581      12,924,734
..   ...           ...  ...          ...             ...
198  199             8  ...      173,789       6,607,820
199  200             9  ...       73,432       3,645,467
200  201            10  ...       13,840         717,044
201  202            11  ...        9,092         361,561
202  203            12  ...       10,881         364,204

[203 rows x 8 columns]

In [88]:
data_60.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year       True
value_per_year     True
dtype: bool

In [89]:
avg_qty60 = data_60[['qty_per_year']].mean()  #หา Meanของqty_per_year 
data_60[['qty_per_year']] = data_60[['qty_per_year']].fillna('avg_qty60')  # เติม  mean ลงไปแทนค่า missing
avg_value60 = data_60[['value_per_year']].mean()  #หา Meanvalue_per_year
data_60[['value_per_year']] = data_60[['value_per_year']].fillna('avg_value60')  # เติม  mean ลงไปแทนค่า missing

In [90]:
data_60.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year      False
value_per_year    False
dtype: bool

In [91]:
data_60

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      123,631       7,957,513
1      2             2  ...       70,831       4,619,708
2      3             3  ...      132,200       8,337,277
3      4             4  ...       92,494       6,485,861
4      5             5  ...      227,581      12,924,734
..   ...           ...  ...          ...             ...
198  199             8  ...      173,789       6,607,820
199  200             9  ...       73,432       3,645,467
200  201            10  ...       13,840         717,044
201  202            11  ...        9,092         361,561
202  203            12  ...       10,881         364,204

[203 rows x 8 columns]

####ต่อตารางในแนวแกน y (PD)

In [97]:
data_export = pd.concat([data_58,data_59,data_60])    
data_export

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      262,519      15,781,599
1      2             2  ...       98,167       5,549,497
2      3             3  ...      124,920       7,129,611
3      4             4  ...       65,049       3,908,310
4      5             5  ...      118,085       8,057,296
..   ...           ...  ...          ...             ...
198  199             8  ...      173,789       6,607,820
199  200             9  ...       73,432       3,645,467
200  201            10  ...       13,840         717,044
201  202            11  ...        9,092         361,561
202  203            12  ...       10,881         364,204

[609 rows x 8 columns]

In [93]:
data_export.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year      False
value_per_year    False
dtype: bool